<div [routerLink]="['/events', event.id]">
    <!-- <img [src]="event?.imageUrl" [alt]="event?.name"> -->

    <div class="row">
    <div class="col-md-11">
        <h2>{{event?.name | uppercase}} </h2>
    </div>
    </div>

    <div class="row">
    <div class="col-md-6">
        <div><strong>Date:</strong> {{event?.date}}</div>
        
        <div [class.green]="event?.time === '8:00 am'" [ngSwitch]="event?.time">
            <strong>Time:</strong> {{event?.time}}
            <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
            <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
            <span *ngSwitchDefault>(Normal Start)</span>
        </div>

        <div><strong>Price:</strong> \{{event?.price | currency:'USD'}}</div>
    </div>
    <div class="col-md-6" *ngIf="event?.location">
        <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
        </address>
    </div>
    </div>
    <button class="btn btn-primary" (click)="handleClickMe()">Register</button>
</div>